
@{
    ViewBag.Title= "contact";
    Layout = "~/Views/_Layout.cshtml";
}

<body>
    <div class="row mt-5">
        <div class="col text-center">
            <h1 class="jumbotron">Welcome To Contact Page</h1>
        </div>
    </div>
</body>

