
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<body>
    
    <div class="row mt-5">
        <div class="col text-center">
            <h1 class="jumbotron">Welcome To Home Page</h1>
        </div>
    </div>
</body>

@section abdo{ 

<div class="bg-danger p-3">

</div>
}